body {
	/* This allows to hide the margin in the border of the page */
	margin: 0;
}

.splide {
	background-color: black;
	/* This guarantee to use the maximum horizontal space as possible */
	max-width: 100vw;
}

.splide__slide {
	/* This guarantee that media are always as large as possible and centered */
	display: flex;
	justify-content: center;
	height: 100vh;
}

.splide__slide img {
	/* This guarantee that images fit to their containers */
	object-fit: contain;
	width: 100vw;
}
