@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

canvas {
	@apply opacity-0 touch-none;
	animation: fade-in 5s ease 1s forwards;
}
