#
# Workspaces applications configuration
#

# Switch to workspace
workspace {{ item.value.id }}

# Start the browser with a clean profile
exec chromium-browser \
	--user-data-dir="$(mktemp -d)" \
	--enable-gpu-rasterization \
	--enable-zero-copy \
	--ozone-platform-hint=wayland \
	--enable-features="CanvasOopRasterization,EnableDrDc,RawDraw" \
	--ozone-platform=wayland \
	--start-fullscreen \
	https://pmw.beescreens.ch
