@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-900;
}

.pinchzoom-child {
	transform: translate(var(--x, 0), var(--y, 0)) scale(var(--scale, 1));
	transform-origin: 0 0;
}

@layer components {
	/* Source: https://codepen.io/shantanu-jana/pen/XWVBJRv */
	.glow-button:before,
	.glow-button:after {
		content: '';
		position: absolute;
		inset: -1px;
		background: linear-gradient(45deg, #fd95ff, #80bbf8, #00e1f0, #fd95ff);
		background-size: 400% 400%;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		z-index: -1;
		animation: animate 3s ease alternate infinite;
	}

	.glow-button:after {
		filter: blur(15px);
	}

	.gradient:before,
	.gradient:after {
		content: '';
		@apply absolute rounded-xl;
		inset: -1px;
		background: linear-gradient(45deg, #fd95ff, #80bbf8, #00e1f0, #fd95ff);
		background-size: 300% 300%;
		width: calc(100% + 2px);
		height: calc(100% + 2px);
		z-index: -1;
		animation: turn 3s ease alternate infinite;
	}

	@keyframes turn {
		0% {
			background-position: 0 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}

	@keyframes animate {
		0% {
			background-position: 0 50%;
			background-size: 400% 400%;
			opacity: 1;
		}
		50% {
			background-position: 100% 50%;
			background-size: 300% 300%;
			opacity: 0.8;
		}
		100% {
			background-position: 0% 50%;
			background-size: 400% 400%;
			opacity: 1;
		}
	}
}
